{% extends 'layout.html'%}
{%block content %}
{% for df in daf_ar %}
      <div class="card w-75 ">
        <div class="card-body">
          <h5 class="card-title">{{df.judul}}</h5>
          <hr>
          <p class="card-text">{{df.konten | truncate(200) | striptags()}}</p>
          <a href="{{url_for('admingam.baca_ar', id=df.id)}}" class="btn btn-secondary btn-sm">baca selengkapnya</a>
        </div>
        <p class="text-muted ml-5">{{df.tgl_post.strftime('%B %d, %Y')}}</p>
      </div>
      <br><br>
{% endfor %}
{%endblock content %}
