{% extends 'layout.html' %}

{%block content%}
<div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8 mt-5">
        <div class="container">
            <h2 class="text-center">tambah kategori</h2>
            <form action="/tambahkat" method="post">
                {{form.hidden_tag()}}
                <div class="form-group">

                    {%if form.nama_kat.errors%}
                        {{form.nama_kat(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.nama_kat.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.nama_kat(class="form-control")}}
                    {% endif %}
                </div>
                {{form.submit(class="btn btn-sm btn-primary")}}
            </form>
        </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{%endblock content%}