{% extends 'layout.html' %}

{% block kategori%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top mb-5" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="">Kelurahan AFA-AFA</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               {{current_user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">               
                <a class="dropdown-item" href="{{url_for('admingam.tambah_kat')}}">Tambah Kategori</a> 
                <a class="dropdown-item" href="{{url_for('admingam.tambah_artikel')}}">Tambah artikel</a>
                <a class="dropdown-item" href="{{url_for('admingam.admin_panel')}}">Admin Panel</a>
                <a class="dropdown-item" href="{{url_for('admingam.logout_adm')}}">Logout</a>              
            </div>
        </li>
          
        </ul>
      </div>
    </div>
</nav>
<div class="container mt-5">
    <table class="display table responsive" style="width: 100%;">
    <thead>
      {% for r in rek %}  
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Rt</th>
        <th>Harga</th>
        <th>Keterangan</th>
        <th>Sex</th>
        <th>Age</th>
        <th>SibSp</th>
        <th>Parch</th>
        <th>Ticket</th>
        <th>Fare</th>
        <th>Embarked</th>
      </tr>
    </thead>
    <tbody>
        {% for i in r.csv_field  %}
       <tr>
           <td>{{i['PassengerId']}}</td>
           <td>{{i['Survived']}}</td>
           <td>{{i['Pclass']}}</td>
           <td>{{i['Name']|truncate(20)}}</td>
           <td>{{i['Sex']}}</td>
       </tr>
       {% endfor %}
    </tbody>
    {% endfor %}
    </table>
</div>
{% endblock kategori %}