{% extends 'layout.html' %}

{% block content%}
<div class="container mt-5">
    <table class="display table responsive" style="width: 100%;">
    <thead>
      {% for r in rek %}  
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>Rt</th>
        <th>Harga</th>
        <th>Keterangan</th>
      </tr>
    </thead>
    <tbody>
        {% for i in r.csv_field  %}
       <tr>
           <td>{{i['PassengerId']}}</td>
           <td>{{i['Survived']}}</td>
           <td>{{i['Pclass']}}</td>
           <td>{{i['Name']|truncate(20)}}</td>
           <td>{{i['Sex']}}</td>
       </tr>
       {% endfor %}
    </tbody>
    {% endfor %}
    </table>
</div>
{% endblock content %}
